# file: monit/tasks/main.yml
---

# install, update, register service.

- name: apt-get install monit
  apt: name=monit

- name: start monit service
  service: name=monit state=started enabled=yes


# Configurations

- name: Create monitering file for varnishd. /etc/monit/conf.d/varnishd
  template: src=varnishd.j2 dest=/etc/monit/conf.d/varnishd
  notify: restart monit

- name: replace /etc/monit/monitrc
  lineinfile: dest=/etc/monit/monitrc
              regexp='^  set daemon 120'
              line='  set daemon 20'
              backrefs=yes
  notify: restart monit
