<match thejob.**>
  type s3

  aws_key_id {{ aws_key_id }}
  aws_sec_key  {{ aws_sec_key }}

  s3_bucket {{ s3_bucket }}
  s3_region {{ s3_region }}
  s3_object_key_format %{path}%{time_slice}_%{index}_%{hostname}.%{file_extension}

  # thejob.** の箇所が @log_name に代入される
  path tracker/@log_name/

  flush_interval 60s
  time_slice_format %Y%m%d-%H

  # buffer and queue size: Expend 30GB HDD resource are as below.
  buffer_type file
  buffer_path /var/log/td-agent/buffer/s3
  buffer_chunk_limit 256m
  buffer_queue_limit 100
</match>
