# file: elasticsearch/tasks/main.yml
---

# install, update, register service.

- name: apt-get install openjdk-7-jre-headless
  apt: name=openjdk-7-jre-headless

- name: download elasticsearch
  get_url: url=https://download.elasticsearch.org/elasticsearch/elasticsearch/elasticsearch-1.7.5.deb
           dest=/usr/local/src/elasticsearch-1.7.5.deb

- name: Check if elasticsearch is installed
  command: dpkg -l elasticsearch
  register: is_installed_elasticsearch
  ignore_errors: True

- name: install elasticsearch by dpkg
  command: dpkg -i /usr/local/src/elasticsearch-1.7.5.deb
  when: is_installed_elasticsearch.stdout.find('elasticsearch') == -1

- name: start elasticsearch service
  service: name=elasticsearch state=started enabled=yes

- stat: path=/usr/share/elasticsearch/plugins/analysis-kuromoji
  register: kuromoji_path

- name: download kuromoji plugin for elasticsearch.
  command: /usr/share/elasticsearch/bin/plugin -install org.codelibs/elasticsearch-analysis-kuromoji-neologd/1.7.1
  notify: restart elasticsearch
  when: kuromoji_path.stat.exists == False


# Configurations

- name: replace elasticsearch.yml for cluster.name directive
  notify: restart elasticsearch
  lineinfile: "dest=/etc/elasticsearch/elasticsearch.yml
               regexp='^#cluster.name: elasticsearch'
               line='cluster.name: elasticsearch_video_automation'
               backrefs=yes"

- name: replace elasticsearch.yml for node.name directive
  notify: restart elasticsearch
  lineinfile: "dest=/etc/elasticsearch/elasticsearch.yml
               regexp='^#node.name: \"Franz Kafka\"'
               line='node.name: \"{{ inventory_hostname }}\"'
               backrefs=yes"

- name: replace elasticsearch.yml for network.host directive
  notify: restart elasticsearch
  lineinfile: "dest=/etc/elasticsearch/elasticsearch.yml
               regexp='^#network.host: 192.168.0.1'
               line='network.host: 127.0.0.1'
               backrefs=yes"

- name: replace elasticsearch.yml for index.analysis.analyzer.default.type directive
  notify: restart elasticsearch
  lineinfile: "dest=/etc/elasticsearch/elasticsearch.yml
               regexp='^index.analysis.analyzer.default.type: custom'
               line='index.analysis.analyzer.default.type: custom'
               insertafter='^network.host: 127.0.0.1'"

- name: replace elasticsearch.yml for directive
  notify: restart elasticsearch
  lineinfile: "dest=/etc/elasticsearch/elasticsearch.yml
               regexp='^index.analysis.analyzer.default.tokenizer: kuromoji_neologd_tokenizer'
               line='index.analysis.analyzer.default.tokenizer: kuromoji_neologd_tokenizer'
               insertafter='^index.analysis.analyzer.default.type: custom'"
