cluster.name: elasticsearch_video_automation
node.name: "{{ inventory_hostname }}"
network.host: 127.0.0.1
index.analysis.analyzer.default.type: custom
index.analysis.analyzer.default.tokenizer: kuromoji_tokenizer
