upstream video_backend {
  server 127.0.0.1:5700;
}

upstream s3 {
    server 'static.{{ inventory_hostname }}:80';
    keepalive 10;
}

server {
    server_name www.{{ inventory_hostname }};
    return 301 $scheme://{{ inventory_hostname }}$request_uri;
}

server {
  listen 80;
  server_name {{ inventory_hostname }};

  root /home/{{ username }}/rel/exantenna/static;

  access_log /var/log/nginx/video_access.log;
  error_log /var/log/nginx/video_error.log;

  proxy_connect_timeout 300;
  proxy_read_timeout    300;
  proxy_send_timeout    300;

  location / {

    # 静的ファイルは location ~* を見るように
    if (-f $request_filename) {
      break;
    }

    set $mobile 0;
    if ($http_user_agent ~* '(DoCoMo|J-PHONE|Vodafone|MOT-|UP\.Browser|DDIPOCKET|ASTEL|PDXGW|Palmscape|Xiino|sharp pda browser|Windows CE|L-mode|WILLCOM|SoftBank|Semulator|Vemulator|J-EMULATOR|emobile|mixi-mobile-converter|PSP)') {
        set $mobile 1;
    }
    if ($http_user_agent ~* '(iPhone|iPod|incognito|webmate|Android.*Mobile|dream|CUPCAKE|froyo|BlackBerry|webOS|s8000|bada|IEMobile|Googlebot\-Mobile|AdsBot\-Google)') {
        set $mobile 2;
    }

    # accept-language: en,en-US;q=0.8,ja;q=0.6
    set $first_language $http_accept_language;
    if ($http_accept_language ~* '^(.+?),') {
        set $first_language $1;
    }

    set $language_suffix 'en';
    if ($first_language ~* 'ja') {
        set $language_suffix 'ja';
    }
    if ($first_language ~* 'es') {
        set $language_suffix 'es';
    }

    # Caching extension below + get method
    set $do_not_cache 1;
    if ($request_method = GET) {
        set $do_not_cache 0;
    }
    if ($request_method = HEAD) {
        set $do_not_cache 0;
    }

    # ignore sid in cookie
     if ( $http_cookie ~* sid ) {
         set $do_not_cache 1;
     }

    # Proxy cache configurations
    proxy_no_cache        $do_not_cache;
    proxy_cache_bypass    $do_not_cache;
    proxy_cache           cache_static_file;
    proxy_cache_key       $scheme$host$uri$is_args$args$mobile$language_suffix;
    proxy_ignore_headers  X-Accel-Redirect X-Accel-Expires Cache-Control Expires Set-Cookie;
    proxy_cache_valid     200 302 30m;  # cache time
    proxy_cache_valid     any 3m;

    # proxy先のstatusも見てカスタムのエラーページを表示
    proxy_intercept_errors on;

    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

    proxy_pass http://video_backend;
  }

  location ~* ^/edge/(.*) {
      access_log off;

      proxy_set_header       Host 'static.{{ inventory_hostname }}';
      proxy_set_header       Authorization '';
      proxy_hide_header      x-amz-id-2;
      proxy_hide_header      x-amz-request-id;
      proxy_hide_header      Set-Cookie;
      proxy_ignore_headers   "Set-Cookie";
      proxy_intercept_errors on;

      proxy_cache            cache_edge_file;
      proxy_cache_valid      200 302 30d;  # cache time
      proxy_cache_valid      any 1m;

      # proxy_cache_bypass   $http_cache_purge;
      add_header             X-Cached $upstream_cache_status;

      proxy_http_version     1.1;
      proxy_set_header       Connection "";
      proxy_pass             http://s3/$1;
  }

  location /_/scs/apps-static/ {
      access_log off;

      # for googleplus counter
      break;
  }

  location ~* \.(xml\.gz)(\?[0-9]+)?$ {
      access_log off;

      # 上記拡張子をno cache
      break;
  }

  location ~* \.(pdf|ico|css|js|gif|jpe?g|png|ttf|eot|svg|woff|test)(\?[0-9]+)?$ {
      access_log off;

      # 上記拡張子を1日cache
      expires 1d;
  }

}
