PATH="/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:$PATH"

source "{{ kerl_root }}/lib/erlang/{{ erlang_version }}/activate"

export PATH="$HOME/.exenv/bin:$PATH"
eval "$(exenv init -)"
